/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $color-white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color: $color-malibu;
}

.error {
  background-color: $color-sunglo-orange;
}

.info {
  background-color: $color-purple-majestic;
}

.success {
  background-color: $color-emerald;
}

.warning {
  background-color: $color-coral;
}

